#action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: var(--text-color-inverse);
    height: 80vh;
}

#action h2 {
    font-size: 8vw;
    margin-bottom: 50px;
}

#action button {
    font-size: 6vw;
}

@media (min-width: 720px) {
    #action h2 {
        font-size: 6vw;
        margin-bottom: 50px;
    }
    
    #action button {
        font-size: 3vw;
    }
}