header {
    background-color: var(--navbar-theme);
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.6em;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: var(--primary-color);
}

@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    header .logo {
        font-size: 1.6em;
    }
    
    header nav {
        flex-direction: row;
        text-align: center;
        padding-bottom: 0;
        padding-right: 20px;
    }
}